{% extends 'base_auth.html' %} 
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-6">
    <div class="card mt-5">
        <div class="card-body">    
        <h4>Login to your account</h4>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          
          {% include 'partials/_messages.html' %}
          <div class="from-group">
            <input
              type="text"
              name="username"
              id="usernameField"
              placeholder="username"
              value="{{fieldValues.username}}"

              class="form-control form-control-sm"
            />
          </div>
          <div class="from-group">
            <input
              type="password"
              name="password"
              id="passwordField"
              placeholder="password"
              required="true"
              class="form-control form-control-sm"
            />
          </div>
          <input type="submit" id="my-button" value="login" id="submitbutton" class="btn btn-block btn-primary" />
        </form>
    </div>
    <div style="display: flex; align-items:center; flex-direction: column; padding-bottom: 20px;">
    <span>Don't have an account? </span><a href="{% url 'register' %}">Register</a>

    </div>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock%}
